{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-3 font-smaller">
            <span id="clickMe" data-chart="0">Click me</span>
        </div>
        <div class="col-9">
            <div id="chartA"></div>
            <div id="chartB"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
{#    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback();#}
        {#google.charts.load('current', {packages:['corechart']});#}
        {{ gc_draw(chartA, 'chartA') }}
    </script>
    {{ encore_entry_script_tags('altChart') }}
{% endblock %}